*{
    padding:0;
    box-sizing:border-box;
}
html {
    height: 100%;
}
body {
    margin: 0px;
    min-height: 100%;
    background-color: #e0e0e0;
}
.container{
 min-width: 100%;
 min-height: 100%;

} 

.logo-1{
   width: 60px;
   height: 60px;
}

.logo-2{
    width: 22px;
    height: 20px;
}

.hotel-big-img{
    max-width: 500px;
    max-height: 500px;
   
}
.Header-Div{
    background-color: #BC8F8F;
}

.Footer-Div{
   
    background-color: #BC8F8F;
}