*{
    padding:0;
    box-sizing:border-box;

}
html {
    height: 100%;
}
body {
    margin: 0px;
    min-height: 100%;
    background-color: #e0e0e0;
    position:relative;
    font-family: 'Ubuntu', sans-serif;
}
.container{
 min-width: 100%;
 min-height: 100%;

} 

.logo-1{
   width: 60px;
   height: 60px;
}

.logo-2{
    width: 22px;
    height: 20px;
}

.hotel-big-img{
    max-width: 500px;
    max-height: 500px;
   
}
.Header-Div{
    background-color: #BC8F8F;
    position:sticky;
    top:0;
    display:flex;
    justify-content: space-between;
    align-items:center;
}

.login{
    margin-right:1rem;
    font-weight: 500px;
    color: black;
    text-decoration: none;
  }
 
  
  .Footer-Div{
    display:flex;
     align-items: center;
     justify-content: space-between;
     position:sticky;
     bottom:0;
height:3rem;
background-color: #BC8F8F;
  }
  .logo-s{
    margin-right:1rem;
    font-weight: 500px;
    
  }
  .contact{
      margin-left: 1rem;
      color: black;
      text-decoration: none;
  }
  
      

  .copywrite{
      padding:0;
      margin:0;
      align-self: flex-end;
     
  }