*{
    margin: 0;
    box-sizing:border-box;
}

html {
    height: 100%;
    padding: 0;
}


body {
  
  padding: 0;
     margin: 0px; 
    min-height: 100%;
     background-color: #e0e0e0 !important; 
    position:relative;
    font-family: 'Ubuntu', sans-serif;
}


.container{
 min-width: 100%;
 min-height: 100%;

} 

.logo-1{
   width: 60px;
   height: 60px;
   margin-left: 1%;
}

.logo-2{
    width: 22px;
    height: 20px;
}

.hotel-big-img{
    max-width: 500px;
    max-height: 500px;
   
}
.Header-Div{
    background-color: #BC8F8F;
    position:sticky;
    top:0;
    display:flex;
    justify-content: space-between;
    align-items:center;
    z-index: 2;
}

.login{
    margin-right:2%;
    font-weight: 500px;
    color: black;
    text-decoration: none;
  }
 
  
  .Footer-Div{
    display:flex;
     align-items: center;
     justify-content: space-between;
     position:sticky;
     bottom:0;
height:3.5rem;
background-color: #BC8F8F;

  }
  .logo-s{
    margin-right:1%;
    font-weight: 500px;
    
  }
  .contact{
      margin-left: 2%;
      color: black;
      text-decoration: none;
  }
  
  .copywrite{
      padding:0;
      margin:0;
      align-self: center;
    font-size: 13px;
     
  }
  .form-control{
    text-decoration: none;
  }
  .modal-body{
    height:10rem;
  }
  
  .m-form{
    height:100% !important;
  }