.img-places{
    width: 150px;
    height: 150px;
    border-radius: 15%;
}

.wrapper{
   background: url("../assests/images/IMAGES-PLACES/background-img.jpg");
 background-position: center;
  height: 380px; 
  background-repeat: no-repeat;
  background-size: cover;
} 

 .img-div{
  text-align: center;
  display: inline-block;
 width:100%;

 }

 .img-container{
   padding:4%;
    display:inline-block;
  
 }

 .img-container:nth-child(3){
   margin:0;
   
 }