
.img-places{
  position: relative;
    width: 150px;
    height: 150px;
    border-radius: 15%;
   box-shadow: gray 10px 10px 10px;
}

.wrapper{
   background: url("../assests/images/IMAGES-PLACES/background-img.jpg");
 background-position: center;
  height: 380px; 
  background-repeat: no-repeat;
  background-size: cover;
  display:flex;
  align-items:center;
  justify-content:center;
    
} 

 .img-div
 {
  text-align: center;
  display: inline-block; 
 width:100%;

 }

 .img-container{
   padding:4%;
    display:inline-block;
    
 }

 .img-container:nth-child(3){
   margin:0;
   
 }
 #Search{
  width: 30%;
  background-color:#f1f1f1 ;
  border: 1px solid transparent;
  padding: 10px;
  font-size: 16px;
   border-radius: 12px; 
  
 }
 #Search:focus{
  outline: none;
}
 .view{
   display: flex;
   transform: translateX(-50%);
  margin-left: 50%;
  margin-bottom: 50px;

 }
.container{
  flex-direction: column;
}
.places-div{
  position: relative;
}
.overlay{
  width: 150px;
  height: 150px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 15%;
  position: absolute;
  top: 0;
  left: 0;
  color: #f1f1f1;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay:hover {
  opacity: 1;
}

/* ************** Responsive for diffrent screen styles ************* */
@media only screen and (max-width: 70rem) {
  .Content-Div {
    min-height: 100vh;
  }
}





   
 
  
   
   