.hotel-1{
    width: 250px;
    height: 200px;
    
}


.hotel_div{
    margin: 2%;
    background-color:rgb(132,136,139) ;
    width: 40%;
}


ul{
    margin-top: 1%;
    margin-left: 3rem;
    
}
.h-link{
    display: inline-block;
}
.h-link:link{
    width: 100%;
}

