.hotel-1
{
    width: 250px;
    height: 200px;
    
}

.hotel_div1,
.hotel_div2,
.hotel_div3{
   margin: 1% 3% 3% 3%; 
    background-color:rgb(132,136,139) ;
    width: 40%;
}

.linked {
    display: flex;
     gap: 3%; 
}

.linked-child {
    flex: 1;  
}  

.linked-child:first-child {
    margin-right: 20px;
} 
 li{
    display:inline-block;
   justify-content: space-between;
} 
.mini1{
    text-decoration: none;
    color: black;
    margin-left: 620px;
}
 .mini2{
    text-decoration: none;
    color: black;
   padding-left: 50px;
} 