.hotel-1
{
    width: 300px;
    height: 250px;
    
}

.hotel_div1,
.hotel_div2,
.hotel_div3{
    display: flex;
   margin: 1% 3% 3% 3%; 
    background-color:#ccc ;
    width: 40vw;
    height: fit-content;
  
}


.linked {
    display: flex;
     gap: 3%; 
}

.linked-child {
    flex: 1;  
}  

.linked-child:first-child {
    margin-right: 20px;
} 
   li{
    display:inline-block;
   justify-content: space-between;
}   
  
  
.description{
    padding-left: 1rem;
    padding-top: 1rem;
}

.h-link
{
    display: flex;
    color: black;
    text-decoration: none;
}


.h-link:link{
    text-decoration: none;
}
.hotel_div1:hover,
.hotel_div2:hover,
.hotel_div3:hover{
    background-color: #bc8f8f;
   
}
 
.nav {
    margin-top: 1rem;
    margin-bottom: 1.2rem;
  }
  .btn,
  .btn:active,
  .btn:focus {
    box-shadow: none !important;
    color: black !important;
    
  }
  ul{
      padding-top: 5px;
      padding-bottom: 2rem;
  }
  .checked {
    color: orange;
  }
  #map-view{
      display: none;
  }
  /* ************** Responsive for diffrent screen styles ************* */

  @media only screen and (min-width: 50rem) {
    .Content-Div {
        min-height: 100vh;
      }
      
}
  @media only screen and (max-width: 49rem){
    #list-view,
    .linked{
        position: relative;
        display: grid;
        grid-template-columns: 1fr;
        margin-bottom: 2rem;
      
    }
    .container{
        position: relative;
        max-width: 100vw;
        
    }
    .Content-Div {
        max-width: 49rem;
        min-height: 100vh;
      }
      body{
          max-width: 49rem;
      }
      .h-link{
        flex-direction: row;
    }
    .hotel_div1,
    .hotel_div2,
    .hotel_div3{
        min-width: 100%;
    }
    .hotel-1{
        width: 300px;
    }
    .map{
      width: 650px;
    }
    #map-view{
      width: 784px;
    }

}



@media only screen and (max-width: 37rem){
    
     
    .Content-Div {
        max-width: 37rem;
        min-height: 100vh;
      }
      body{
          max-width: 40rem;
      }
      .h-link{
          flex-direction: column;
      }
      .hotel_div1,
      .hotel_div2,
      .hotel_div3{
          min-width: 330px;
      }
      .hotel-1{
          width: 330px;
      }
      .map{
        width: 330px;
      }
      #map-view{
        width: 330px;
      }
    }
  