.loader {
    width: 70px;
    height: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    border: 12px #f3f3f3 solid;
    border-top: 12px #444 solid;
    transform: translate(-50%, -50%);
  }
  
  .loader-container {
    height: 100vh;
    position: relative;
  }